<header>
    <div class="navbar">
        <ul id="navbar">
            <li><a class="navigation" href="/my-appointments">My Appointments</a></li>
            <li><a class="navigation" href="/customers">Customers</a></li>
            <li><a class="navigation" href="/boarding">Boarding</a></li>
            <li><a class="navigation" href="/training">Training</a></li>
            <li><a class="navigation" href="/grooming">Grooming</a></li>
            <li><a class="navigation" href="/index">Home</a></li>
        </ul>
    </div>
</header>