<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap" rel="stylesheet">

<!--Passes the Title of the Page from the index.js-->
        <title><%- title %></title>

<!--Style Sheets - still looking for a good font, but I'm ok with the ones there now-->
        <link rel="stylesheet" href="/styles/site.css">
    </head>

<!--Template For the Whole Site, which adds the header and footer to every page-->
    <body>
        <div class="container">
            <%- include('../partials/_header.ejs') %>

            <%- body %>
            
            <%- include('../partials/_footer.ejs') %>

        </div>
    </body>
</html>
 