<!--
    Title: boarding.ejs
    Author: William John Austin
    Date: 04/11/2023
    Description: Pets-R-Us Boarding Page
-->
<!--Main Image for Grooming-->
<div class="hero-image">
    <img src="/images/dog-spa.png" id="hero-image" alt="Dog in Robe">
    <div class="centered-3">Boarding</div>
</div>

<!--About Boarding Card-->
<div class="card" id="boarding">
    <h1>Boarding</h1>
    <h3 id="about-boarding">
        Going out of town and can't take your furry friend with you? <br>
        Don't worry! We've got you covered.
        <br><br><hr><br>
        Our pet boarding services at Pets-R-Us provide a safe, comfortable, and cage-free environment for 
        your pets while you're away. Our experienced and caring staff will provide your pets with 
        personalized attention and care to ensure they feel right at home. We offer spacious and 
        comfortable sleeping areas, as well as indoor and outdoor play areas, so your pets can move around
        and exercise freely. Plus, we provide daily exercise and playtime to keep your pets happy and 
        healthy. <br><br>Contact us to schedule your pet's next cage-free boarding stay at Pets-R-Us!
    </h3>
</div>
<hr>

<!--Pricing Card-->
<div class="card" id="boarding-services-master">
    <h2>Pricing</h2>
    <ul id="boarding-card">
        <li class="services">
            <b>1 pet up to 5 nights:</b><br><br>$40 per night<br><br><hr class="boarding-hr">
        </li>
        <li class="services">
            <b>2 pets 5 nights or over:</b><br><br>$60 per night<br><br><hr class="boarding-hr">
        </li>
        <li class="services">
            <b>3 pets up to 5 nights:</b><br><br>$90 per night<br><br><hr class="boarding-hr">
        </li>
        <li class="services">
            <b>1 pet 5 nights or over:</b><br><br>$35 per night<br><br><hr class="boarding-hr">
        </li>
        <li class="services">
            <b>2 pets up to 5 nights:</b><br><br>$65 per night<br><br><hr class="boarding-hr">
        </li>
        <li class="services">
            <b>3 pets 5 nights or over:</b><br><br>$75 per night<br><br><hr class="boarding-hr">
        </li>
    </ul>
</div>
