<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/styles/site.css">
        <title>Pets-R-Us Grooming</title>
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <ul>
                    <li><a class="navigation" href="/grooming">Grooming</a></li>
                    <li><a class="navigation" href="/my-appointments">My Appointments</a></li>
                    <li><a class="navigation" href="/booking">Booking</a></li>
                    <li><a class="navigation" href="/customers">Customers</a></li>
                    <li><a class="navigation" href="/services">Services</a>
                        <ul class="hidden-list">
                            <li><a class="hidden-navigation" href="/grooming">Grooming</a></li>
                            <li><a class="hidden-navigation" href="/boarding">Boarding</a></li>
                            <li><a class="hidden-navigation" href="/grooming">Training</a></li>
                        </ul>
                    </li>
                    <li><a class="navigation" href="/index">Home</a></li>
                </ul>
            </div>
            <div class="hero-image">
                <img src="/images/cat-grooming.jpg" id="hero-image" alt="Cat Grooming">
                <div class="centered-2">Grooming</div>
            </div>
            <div class="card" id="grooming">
                <h1>Grooming</h1>
                <h3 id="about-grooming">
                    At Pets-R-Us, we understand that your furry friends are more than just pets...they're members of your family. 
                    That's why we offer professional animal grooming services to keep your pets looking and feeling their best. 
                    Our experienced groomers use only natural and high-quality products to ensure your pet's health and comfort. 
                    From nail trimming and ear cleaning to full haircuts and baths, we provide a range of grooming services tailored 
                    to meet your pet's specific needs. Let us pamper your furry friend with the care and attention they deserve.<br>
                    Contact us today to schedule an appointment for your pet's next grooming session!
                </h3>
            </div>
            <hr>
            <div class="card" id="services">
                <h2>Services</h2>
                <ul id="service-card">
                    <li class="services">
                        <b>Bath and Brush</b><br>Our basic bath and brush service includes a shampoo and conditioning treatment, 
                        followed by a blow-dry and brush-out.<br><br>Price starts at $35.<br><hr>
                    </li>
                    <li class="services">
                        <b>Nail Trim</b><br>Our nail trim service ensures your pet's nails are clipped safely and correctly, helping to 
                        prevent discomfort and potential health problems.<br><br>Price starts at $15.<br><hr>
                    </li>
                    <li class="services">
                        <b>Teeth Cleaning</b><br>Our teeth cleaning service helps to maintain your pet's oral hygiene, preventing bad breath and 
                        potential dental problems.<br><br>Price starts at $40.<br><hr>
                    </li>
                    <li class="services">
                        <b>Ear Cleaning</b><br>Our ear cleaning service helps to prevent infections and ear mites by gently and effectively 
                        removing dirt and debris from your pet's ears.<br><br>Price starts at $10.<br><hr>
                    </li>
                    <li class="services">
                        <b>Full Haircut</b><br>Our full haircut service includes a bath, blow-dry, brush-out, and a haircut to your pet's 
                        desired length and style.<br><br>Price starts at $60.<br><hr>
                    </li>
                </ul>
            </div>
            <footer>
                <div class="contact-info">
                      <p>Phone: (555) 123-4567</p>
                      <p id="email">Email: info@petsrus.com</p>
                </div> 
            </footer>
        </div>
    </body>
</html>
