<!--
    Title: index.ejs
    Author: William John Austin
    Date: 04/08/2023
    Description: Pets-R-Us Landing Page
-->
<!DOCTYPE html>
<html lang="en">
    <head>

<!--Style Sheets - still looking for a good font, but I'm ok with the ones there now-->
        <link rel="stylesheet" href="/styles/site.css">
        <title>Pets-R-Us</title>
    </head>


    <body>
        <div class="container">

<!--Navigation-->
            <div class="navbar">
                <ul>
                    <li><a class="navigation" href="/grooming">Grooming</a></li>
                    <li><a class="navigation" href="/my-appointments">My Appointments</a></li>
                    <li><a class="navigation" href="/booking">Booking</a></li>
                    <li><a class="navigation" href="/customers">Customers</a></li>
                    <li><a class="navigation" href="/services">Services</a>
                        <ul class="hidden-list">
                            <li><a class="hidden-navigation" href="/grooming">Grooming</a></li>
                            <li><a class="hidden-navigation" href="/boarding">Boarding</a></li>
                            <li><a class="hidden-navigation" href="/grooming">Training</a></li>
                        </ul>
                    </li>
                    <li><a class="navigation" href="/index">Home</a></li>
                </ul>
            </div>

<!--Main Image for Landing-->
            <div class="hero-image">
                <img src="/images/dog-cat-hero.jpg" id="hero-image" alt="Dog Cat Hero">
                <div class="centered">Pets-R-Us</div>
            </div>

<!--About Us Card-->
            <div class="card" id="about-us">
                <h2>About Us</h2>
                <h3 id="about-statement">
                    Pets-R-Us is a family owned and operated, one-stop-shop, for all your pet needs. 
                    We opened our doors in 1976 as a small pet store focused on natural pet-foods. Since then, 
                    we have expanded out business to grooming and training, as well as a luxury doggie-day-care with overnight
                    cage-free boarding. 
                    Through all this we have not forgotten our roots. We still only sell the highest quality, natural pet foods 
                    and supplies. 
                    So whether you are looking for a new leash, a resupply on your favorite pet foods, or a safe place to leave 
                    your furry friend, Pets-R-Us is the place for you. 
                </h3>
            </div>
            <hr>

<!--Locations Card-->
            <div class="card" id="locations">
                <h2 class="card-title">Locations</h2>
                <div class="card-contents" id="midtown">
                    <h3><b>Midtown</b></h3>
                    <h4>
                        420 Wells Avenue <br>
                        Reno, NV 89502 <br>
                        <br>
                        <u>Hours</u> <br>
                        Monday - Friday : 5:30am-8:00pm <br>
                        Saturday : 7:00am-5:00pm <br>
                        Sunday : 10:00am-3:00pm
                    </h4>
                </div>
                <div class="card-contents" id="meadows">
                    <h3><b>South Meadows</b></h3>
                    <h4>
                        1460 Foster Drive <br>
                        Reno, NV 89509 <br>
                        <br>
                        <u>Hours</u> <br>
                        Monday - Friday : 6:30am-8:00pm <br>
                        Saturday : 10:00am-5:00pm <br>
                        Sunday : Closed
                    </h4>
                </div>
            </div>
            <br>
            <hr>

<!--Pet of the Week Card-->
            <div class="card" id="dog-of-the-week">
                <h2 class="card-title">Pet of the Week</h2>
                <h4>Name:</h4>
                <p>Lucky</p> <br>
                <h4>Age:</h4>
                <p>3 Years Old</p> <br>
                <h4>Favorite Activity:</h4>
                <p>Basking in the Sun</p> <br>
                <h4>Most Loveable Quality:</h4>
                <p>The Purrfect Cuddler</p><br>
                <div class="image-polaroid">
                    <img src="/images/cat.jpg" alt="Lucky the Cat" id="cat">
                </div>
            </div>
            <hr>

<!--Testimonials Card-->
            <div class="card" id="testimonials">
                <h2 class="card-title">Customer Testimonials</h2>
                <h3 id="subheader">People are raving about us!</h3>
                <div class="testimonial">
                    "I've been a customer of Pets-R-Us for years and I couldn't be happier with their service. 
                    The staff is always friendly and knowledgeable, and they have a great selection of natural 
                    products for my pets. Thank you, Pets-R-Us!" - Mary T. 
                </div> <br> <hr>
                <div class="testimonial">
                    "I recently adopted a new puppy and Pets-R-Us was my go-to for everything I needed. They helped me 
                    find the right food, toys, and accessories for my new furry friend, and their advice has been invaluable. 
                    I highly recommend Pets-R-Us!" - John M.
                </div><br><hr>
                <div class="testimonial">
                    "As a bird owner, I've always struggled to find high-quality bird food and toys. But since discovering 
                    Pets-R-Us, I no longer have that problem. They have a great selection of bird products and the staff is 
                    always happy to help me find what I need. Thank you, Pets-R-Us!" - Lisa S.
                </div><br><hr>
                <div class="testimonial">
                    "I've been a loyal customer of Pets-R-Us for over a decade and I can't imagine shopping anywhere else. 
                    The staff is always welcoming and helpful, and they genuinely care about the well-being of my pets. I 
                    highly recommend Pets-R-Us!" - Tom L.
                </div><br><hr>
                <div class="testimonial">
                    "I recently had to switch my dog's food due to dietary restrictions and the staff at Pets-R-Us made the 
                    transition so easy. They helped me find a new food that my dog loves and that's also healthy for him. 
                    Thank you, Pets-R-Us!" - Emily K.
                </div>
            </div> <br> 
            <hr>

<!--Contact Form Card-->
            <div class="card" id="contact">
                <p>Thank you for considering Pets-R-Us for all your pet needs. If you have any questions or feedback, please 
                don't hesitate to contact us.
                Our friendly and knowledgeable staff are always happy to help. We look forward to hearing from you!</p>
                <br><br><hr>
                <form>
                    <label for="email" id="email-label">Enter your email:</label>
                    <input type="email" id="email" name="email">
                    <input type="button" class="button" id="btnSend" value="Send">
                </form>
            </div>      
                <hr>

<!--Footer-->
            <footer>
                <div class="contact-info">
                      <p>Phone: (555) 123-4567</p>
                      <p id="email">Email: info@petsrus.com</p>
                </div> 
            </footer>
        </div>
    </body>
</html>
