<!--Main Image for Training-->
<div class="hero-image">
    <img src="/images/cat-on-computer.jpg" id="hero-image" alt="Cat on a Computer">
    <div class="centered-5">Registration</div>
</div>

<br><br>
<h1>Registration Form</h1>
<hr>
<br>

<!--Registration Form-->
<div class="form" id="registrationForm">
    <form action="/register" method="post">
        <div class="registrationLabel"><label  for="customerID">Customer ID</label></div><br>
        <input class="registrationInput" type="text" id="customerID"> 
        <br><br>
        <div class="registrationLabel"><label for="email">Email</label></div><br>
        <input class="registrationInput" type="text" id="email">
        <br><br>
        <button type="submit" id="btnSubmitRegistration">Register</button>
    </form>
</div>