<!--
    Title: training.ejs
    Author: William John Austin
    Date: 04/11/2023
    Description: Pets-R-Us Training Page
-->
<!--Main Image for Training-->
<div class="hero-image">
    <img src="/images/dog-training.png" id="hero-image" alt="Dog Training">
    <div class="centered-4">Training</div>
</div>

<!--About Training Card-->
<div class="card" id="training">
    <h1>Training</h1>
    <h3 id="about-training">
        Looking to unlock your pet's full potential? <br>
        Wondering how to teach your furry friend good behavior and manners? <br><br><hr><br>
        At Pets-R-Us, we believe that a well-trained pet is a happy pet. Our experienced trainers offer a 
        range of training programs to meet the unique needs of you and your furry friend. From basic 
        obedience training to more advanced training programs, we use positive reinforcement techniques to 
        teach your pet good behavior and manners. We offer private and group training sessions, as well as 
        puppy training classes to help your furry friend get started on the right paw. Our training programs
        are designed to be fun, engaging, and effective, so you and your pet can enjoy a stronger bond 
        and a happier life together. <br><br>
        Contact us to schedule your pet's next training session at Pets-R-Us!
    </h3>
</div>
<hr>


<!--Meet the Trainer Card-->
<div id="trainer-title"><h2 class="card-title">Meet the Trainer</h2><hr><br></div>
<div class="card" id="trainer">  
    <div id="trainer-bio">
        <b>Name:</b> Adan <br>
        <b>Experience:</b> 8 years as a trainer.<br>
        <b>Bio:</b> Adan has a deep understanding of animal behavior and positive reinforcement techniques. 
        He is dedicated to helping pet owners build strong bonds with their furry friends through personalized 
        training programs that meet their unique needs. Adan's love and passion for animals shine through in 
        every training session he conducts, and his upbeat personality and friendly demeanor make him a 
        favorite among our clients. When he's not training pets, Adan enjoys hiking and spending time with his 
        own furry friends at home.
    </div>
    <div class="image-polaroid">
        <img src="/images/trainer.png" alt="Trainer" id="cat">
    </div>
</div>

<!--Training Pricing Card-->
<div id="training-prices-master">
    <div><h2>Pricing</h2><hr><br></div>
    <div class="training-prices-card">
        <h3>Puppy Training Services</h3>
        <ul class="training-services-list">
            <li class="training-service">
                Puppy Socialization - $50 per hour
            </li>
            <li class="training-service">
                Basic Obedience Training - $100 for 6 sessions
            </li>
            <li class="training-service">
                House Training - $75 per session
            </li>
        </ul>
    </div>
    <div class="training-prices-card">
        <h3>Adolescent Training Services</h3>
        <ul class="training-services-list">
            <li class="training-service">
                Advanced Obedience Training - $125 for 6 sessions
            </li>
            <li class="training-service">
                Leash Training - $75 per session
            </li>
            <li class="training-service">
                Behavioral Modification - $150 per session
            </li>
        </ul class="training-services-list">
    </div>
    <div class="training-prices-card">
        <h3>Adult Training Services</h3>
        <ul>
            <li class="training-service">
                Personalized Training Program - $200 for 8 sessions
            </li>
            <li class="training-service">
                Good Citizen Prep - $150 for 6 sessions
            </li>
            <li class="training-service">
                Agility Training - $100 per session
            </li>
        </ul>
    </div>
    <div class="note">
        *Please note that the above prices are subject to change based on the individual needs of your pet.<br> 
        For a more personalized quote, please contact us at Pets-R-Us.
    </div>
</div>
<br>
