/**
    Title: site.css
    Author: William John Austin
    Date: 04/08/2023
    Description: Styling for Pets-R-Us 
*/



/* Global Background Color */
.container{
    background-color:rgb(203, 218, 228);

}

/* Styling for Images */
.hero-image{
    position: relative;
    text-align: center;
}
.centered-1{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 110px;
    color:white;
}
.centered-2{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    font-size: 110px;
    color:white;
}
.centered-3{
    position: absolute;
    top: 55%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 110px;
    color:rgb(49, 43, 43);
}
.centered-4{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    font-size: 110px;
    color:white;
}
.centered-5{
    position: absolute;
    top: 50%;
    left: 78%;
    transform: translate(-50%, -50%);
    font-size: 110px;
    color:white;
}
.centered-6 {
    position: absolute;
    top: 70%;
    left: 65%;
    transform: translate(-50%, -50%);
    font-size: 110px;
    color:white;
}
#hero-image{
    width: 100%;
}
#cat{
    width: 45%;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 150px;
    border: 5px solid rgb(60, 63, 93);
    border-radius: 16px;
}



/* Styling for Horizontal Lines */
hr{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid rgb(186, 202, 216);
}
.boarding-hr{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid #9393B8;
}

/* Styling for Navigation */
.navigation{
    float: right;
    display: block;
    text-decoration: none;
    color: rgb(42, 55, 67);
    text-align: center;
    padding: 16px;
    font-size: large;
}
#navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(174, 190, 203);
}
.navigation:hover{
    background-color: rgb(135, 135, 135);
    color:rgb(189, 215, 215);
    transition: .3s;
}
.hidden-list{
    display: none;
    list-style: none;
    position: absolute;
    background-color: #fff;
    padding: 0;
    margin: 0;
}
.hidden-navigation {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}


/* Styling for Text */
#subheader {
    text-align: center;
}
h4{
    display: inline;
}
p{
    display: inline;
}
h2, h1 {
    text-align: center;
    text-transform: uppercase;
}
h3 {
    line-height: 1.5em;
}
.note{
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 10pt;
}

/* Styling for a General Card */
.card {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
}
.card-contents{
    padding-top: 10px;
    padding-bottom: 40px;
}

/* Styling for Specific Cards */
#about-us{
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 black;
    transition: 0.3s;
    padding: 20px;
}
#grooming, #boarding, #training{
    margin-top: 115px;
}
#about-grooming, #about-boarding, #about-training, #about-customers, #about-appointment{
    font-weight:lighter;
    padding: 20px;
    line-height: 1.3em;
    letter-spacing: 2px;
    border: 1pt solid rgb(43, 43, 43);
    border-radius: 24px;
    background-color: rgb(200, 214, 223);
}
#grooming-card, #boarding-card{
    background-color: rgb(200, 214, 223);
    box-shadow: 0 4px 8px 0 rgb(44, 44, 53);
    transition: 0.3s;
    list-style-type: none;
    overflow: hidden;
}
.services{
    margin-top: 15px;
    padding: 20px;
    float: left;
    margin-right: 15px;
    }
#boarding-card{
    background-color: rgba(78, 124, 153, 0.374);
    padding-left: 60px;
    }
#boarding-services-master{
    margin-top: 50px;
    width:50%;
}
#grooming-services-master{
    margin-top: 50px;
    width: 25%;
}
#trainer{
    box-shadow: 5px 10px 18px 0 rgb(59, 61, 67);
    transition: 0.3s;
    padding: 10px;
    padding-left: 30px;
    padding-bottom: 30px;
    width: 45%;
    background-color: rgb(156, 162, 184);
    border-radius: 38px;
    border: 2px solid black
}
#trainer-title{
    margin-top: 50px;
    width: 50%;
    letter-spacing: 3px;
    margin-left: auto;
    margin-right: auto;
}
#trainer-bio{
    line-height: 1.5em;
    margin-top: 20px;
    color: #333;
    font-size: 14pt;
    padding: 10px;
}
.training-prices-card {
    display: inline-block;
    margin-top: 15px;
    width: 28%;
    padding: 10px;
    margin-left: 30px;
}
#training-prices-master{
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    background-color: rgb(198, 219, 240);
    border: 8px solid rgb(186, 202, 216);
}
.training-service{
line-height: 1.2em;
}
#meadows{
    float: inline-end;
    text-align: right;
}
#midtown{
    float: inline-start;
}
#locations{
    margin-top: 50px;
}
#dog-of-the-week{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px;
    padding-left: 30px;
    line-height:1.5em;
    padding-bottom: 30px;
    width: 45%;
    margin-top: 100px;
}
#dog-of-the-week:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#testimonials {
    margin-top: 100px;
    background-color: rgb(223, 231, 236);
    padding: 10px;
    padding-bottom: 40px;
}
.testimonial {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top:15px;
    letter-spacing: 2px;
    line-height: 1.6;
    width: 55%;
    background-color: rgb(222, 233, 240);
}

#registrationForm{
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: 20px;
    background-color: rgb(222, 233, 240);
    border: 3pt solid rgba(11, 37, 61, 0.647);
    border-radius: 18px;
    height: 500px;
}
.registrationInput{
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 10px;
    font-size: 14pt;
    width: 80%;
    border: 1px solid rgb(110, 129, 150);
    border-radius: 18px;
}
.registrationLabel{ 
    width: 60%;
    margin-top: 20px;
    margin-bottom: -15px;
    color: rgb(0, 0, 0);
    font-size: 18pt;
    
}
.appointmentLabel{ 
    text-align: left;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: -15px;
    color: rgb(0, 0, 0);
    font-size: 18pt;
}

#appointmentForm{
    background-color: aqua;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    padding-bottom: 40px;
    border: 3pt solid rgba(11, 37, 61, 0.647);
    border-radius: 18px;
    background-color: rgb(222, 233, 240);
}

/* Styling for Contact Form on Landing */
#contact{
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 2px;
    line-height: 1.6;
    width: 55%;
    margin-top: 50px;
    margin-bottom: 50px;
}
#btnSend{
  background-color: #04aaa7;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
#btnRegister{
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    font-size: 18pt;
    width: 500px;
    text-transform: capitalize;
    background-color: rgb(159, 201, 238);
    box-shadow: 0 8px 16px 0 rgb(42, 37, 37);
    font-family:'Times New Roman', Times, serif;

}
#btnRegister:hover {
    background-color: rgb(135, 135, 135);
    transition: .4s;
}
.button{
    position: absolute;
    top: 65%;
    left: 20%;
    transform: translate(-50%, -50%);
}

#btnSubmitRegistration {
    cursor: pointer;
    border: none;
    margin-top: 25px;
    padding: 16px 32px;
    width: 60%;
    font-size: 16pt;
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(159, 201, 238);
    box-shadow: 0 8px 16px 0 rgb(99, 110, 126);
    border-radius: 18px;
    
}
#btnSubmitRegistration:hover{
    background-color: rgb(135, 135, 135);
    transition: .4s;
}

form{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px ;
}

/* Styling for Footer */
footer {
    margin-top: 50px;
    width: 100%;
    background-color: rgb(186, 202, 216);
    padding: 20px;
    align-items: center;
    font-size: 14px;
    line-height: 1.5;
    color: rgb(42, 55, 67);
  }
.contact-info {
    text-align: center;
  }
#email{
    padding-left: 20px;
}

th{
    background-color: rgb(174, 190, 203);
}

th, td {
border: 1px solid rgb(120, 124, 153);
padding: 10px;
}

tr:hover{
    background-color: rgb(174, 190, 203);
    cursor: pointer;

}
table{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(198, 219, 240);
    padding: 10px;
    border: 2px solid rgb(120, 124, 153);
    border-collapse: collapse;
}
#customer-list{
    margin-top: 50px;
    box-shadow: 0 8px 16px 0 rgb(99, 110, 126);
    padding-top: 50px;
    padding-bottom: 50px;
    width: 40%;
}
